doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Maillog Analyzer
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/upload.css')
  body
    block content